export(logLik1)
export(missPat)
export(Pwr)
export(runScript)
export(sigma)
export(simulateY)
importFrom("stats", "anova", "coef", "fitted", "formula",
           "model.matrix", "pf", "predict", "qf", "rnorm", "runif",
           "vcov")
importFrom("utils", "example")
importFrom(nlme,getVarCov)
importFrom(nlme,Initialize)
importFrom(nlme,varPower)
importFrom(nlme,varWeights)
S3method(logLik1,lme)
S3method(print,Pwr)
S3method(Pwr,lme)
S3method(sigma,default)
S3method(simulateY,lme)
